@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@import './Components/_variables';

*,
*::before,
*::after {
	color: black;
	font-family: inherit;
}

body {
	font-family: 'Nunito', sans-serif;
}

.d-flex > * {
	// border: 1px solid white;
}

.nav-icon {
	height: 3vw;
	width: 3vw;
	min-width: 30px;
	min-height: 30px;
	background-color: $border-color;
	border-color: $border-color;
	transition: all 200ms;

	&:hover {
		background-color: darken($border-color, 2%);
	}
}

@media all and (max-width: 992px) {
	#main_nav {
		position: absolute;
		top: 100%;
		width: 100%;
		border: 1px solid $border-color;
		background-color: $border-color;
	}

	.navbar {
		background: $border-color !important;
		--bs-navbar-toggler-focus-width: 0rem;
	}
	.navbar-toggler {
		border: none;
	}

	.nav-icon {
		background-color: transparent;
	}

	.navbar-toggler:focus {
		// outline: none !important;
		// border: 1px solid black;
	}
}
