@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@import './Components/_variables';

*,
*::before,
*::after {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

body {
	font-family: 'Nunito', sans-serif;
}

.nav-icon {
	height: 3vw;
	width: 3vw;
	min-width: 30px;
	min-height: 30px;
	background-color: $border-color;
	border-color: $border-color;
	transition: all 200ms;

	& > i {
		color: #161c2d;
	}

	&:hover {
		background-color: darken($border-color, 2%);
	}
}

.dropdown-menu li {
	margin: 0.5vw 0vw;
	font-size: 1vw;
	letter-spacing: 1px;

	& > a {
		font-weight: 700;
	}
}

.section-1 {
	height: 100vh;
	width: 100%;
	background: url('./img/bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 5vw;
	&-body {
		z-index: 100;

		& > h1 {
			font-size: 3.5vw;
			line-height: 5vw;
		}

		& > p {
			color: $text-slate;
		}

		& > button {
			background: $bg-indigo-600;
			outline: none;
			border: none;
			transition: all 200ms;
			&:hover {
				background: $bg-indigo-700;
			}
		}
	}
	& > * {
		color: white;
	}
}

.card {
	transition: all 200ms;

	&-text {
		color: $text-slate-400;
	}
	&:hover {
		color: $border-color;
		background: $bg-indigo-600;

		.icon-container {
			background: white;
			color: $bg-indigo-600;
		}
	}
}

.icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5vw;
	width: 5vw;
	border-radius: 50%;
	background: $bg-indigo-600;
	// border: 1px solid orange;
	color: white;
}

.bg-gradient-to-b {
	height: 100%;
	width: 100%;
	background: linear-gradient(
		to bottom,
		rgba(22, 28, 45, 0.6),
		rgba(22, 28, 45, 0.8),
		#161c2d
	);
}

@media all and (max-width: 992px) {
	#main_nav {
		position: absolute;
		top: 100%;
		width: 100%;
		border: 1px solid $border-color;
		background-color: $border-color;
	}

	.navbar {
		background: $border-color !important;
		--bs-navbar-toggler-focus-width: 0rem;
	}
	.navbar-toggler {
		border: none;
	}

	.nav-icon {
		background-color: transparent;
	}
	.nav-link.show {
		text-align: center !important;
	}

	.dropdown-menu.show {
		display: flex !important;
		background: transparent;
		margin: 0 1vw;
		text-align: center;
		gap: 1vw;
		padding: 1vw;
	}

	.icon-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 10vw;
		width: 10vw;
		border-radius: 50%;
		background: $bg-indigo-600;
		// border: 1px solid orange;
		color: white;
	}
}
@media all and (min-width: 993px) {
	.dropdown-menu {
		transform: translateY(5%) translateX(-25%);
		transition: all 200ms;
		opacity: 0;
		display: flex !important;
		gap: 1vw;
		padding: 1vw;
	}

	.dropdown:hover > .dropdown-menu {
		transform: translateY(0) translateX(-25%);
		opacity: 1;
	}

	.dropdown-item:hover {
		color: blue;
	}

	.dropdown > .dropdown-toggle:active {
		pointer-events: none;
	}
}
