@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
*,
*::before,
*::after {
  color: black;
  font-family: inherit;
}

body {
  font-family: "Nunito", sans-serif;
}

.nav-icon {
  height: 3vw;
  width: 3vw;
  min-width: 30px;
  min-height: 30px;
  background-color: #e5e7eb;
  border-color: #e5e7eb;
  transition: all 200ms;
}
.nav-icon:hover {
  background-color: #dfe2e7;
}

@media all and (max-width: 992px) {
  #main_nav {
    position: absolute;
    top: 100%;
    width: 100%;
    border: 1px solid #e5e7eb;
    background-color: #e5e7eb;
  }
  .navbar {
    background: #e5e7eb !important;
    --bs-navbar-toggler-focus-width: 0rem;
  }
  .navbar-toggler {
    border: none;
  }
  .nav-icon {
    background-color: transparent;
  }
}
