@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
*,
*::before,
*::after {
  color: black;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

body {
  font-family: "Nunito", sans-serif;
}

.nav-icon {
  height: 3vw;
  width: 3vw;
  min-width: 30px;
  min-height: 30px;
  background-color: #e5e7eb;
  border-color: #e5e7eb;
  transition: all 200ms;
}
.nav-icon:hover {
  background-color: #dfe2e7;
}

.dropdown-menu li {
  margin: 0.5vw 0vw;
  font-size: 1vw;
  letter-spacing: 1px;
}
.dropdown-menu li > a {
  font-weight: 700;
}

.section-1 {
  height: 100vh;
  width: 100%;
  background: url("./img/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-gradient-to-b {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(22, 28, 45, 0.6), rgba(22, 28, 45, 0.8), #161c2d);
}

@media all and (max-width: 992px) {
  #main_nav {
    position: absolute;
    top: 100%;
    width: 100%;
    border: 1px solid #e5e7eb;
    background-color: #e5e7eb;
  }
  .navbar {
    background: #e5e7eb !important;
    --bs-navbar-toggler-focus-width: 0rem;
  }
  .navbar-toggler {
    border: none;
  }
  .nav-icon {
    background-color: transparent;
  }
  .nav-link.show {
    text-align: center !important;
  }
  .dropdown-menu.show {
    display: flex !important;
    background: transparent;
    margin: 0 1vw;
    text-align: center;
    gap: 1vw;
    padding: 1vw;
  }
}
@media all and (min-width: 993px) {
  .dropdown-menu {
    transform: translateY(5%) translateX(-25%);
    transition: all 200ms;
    opacity: 0;
    display: flex !important;
    gap: 1vw;
    padding: 1vw;
  }
  .dropdown:hover > .dropdown-menu {
    transform: translateY(0) translateX(-25%);
    opacity: 1;
  }
  .dropdown-item:hover {
    color: blue;
  }
  .dropdown > .dropdown-toggle:active {
    pointer-events: none;
  }
}
